body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-size: larger;
}

input {
  font-size: larger;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* background-image: url('/whatsapp-bg.png') */
}

.heading {
  color: white;
  background-color: #128C7E;
  display: flex;
  height: 10vh;
}
.heading img {
  width: 100px;
  height: auto;
}
.chat-container {
  position: relative;
  min-height: 100vh;
}

.bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
} 

.input-container {
  width: 100vw;
  display: flex;
  background: rgba(128, 128, 128, 0.678);
  padding: 1rem 0;
}

.input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.input-form {
  display: flex;
  flex-grow: 2;
}

input{
  flex-grow: 2;
  padding: 1rem;
  border-radius: 100px;
  border: none;
  outline: none;
}

.btn {
  padding: 1rem;
  border-radius: 50%;
  margin-left: 10px;
  border: 10px;
  font-size: 1.5rem;
}

.chat-block-green {
  margin: 1rem;
  background: #dcf8c6;
  width: fit-content;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
}

.chat-block-white {
  margin: 1rem;
  background: white;
  width: fit-content;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.438);
}

.chat-block-white p, .chat-block-green p{
  margin: 0;
}
.userID {
  color: gray;
  font-size: 1rem;
}

.onlineUser-container {
  position: absolute;
  right: 0;
  top: 0;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
}